/*
 * Gustavo Garabetti Munhoz — 10409258
 * João Pedro Rodrigues Vieira — 10403595
 * Joaquim Rafael Mariano Prieto Pereira — 10408805
 * Caio Yukio Yazawa — 10418604
 * Erick Guilherme de Macedo Cabral — 10419996
 */

.listPage {
  width: 100%;
  max-width: 70rem;
  margin-inline: auto;
  padding: 5rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.listPage h1 {
  text-align: center;
}

@media (min-width: 768px) {
  .listPage {
    padding: 7rem 2rem 3rem;
  }
}
