/*
 * Gustavo Garabetti Munhoz — 10409258
 * João Pedro Rodrigues Vieira — 10403595
 * Joaquim Rafael Mariano Prieto Pereira — 10408805
 * Caio Yukio Yazawa — 10418604
 * Erick Guilherme de Macedo Cabral — 10419996
 */

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
}

/*  SEÇÕES — espaçamento padrão  */
.main section {
  padding: 2rem 1rem;
}

.coreImg {
  width: 12rem;
}

/*  .home — HERO */
.home {
  background-color: var(--brown-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.bgVideo {
  display: none;
}

.home img {
  max-height: 200px;
  object-fit: contain;
}

/* .about — SOBRE NÓS */
.about {
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutArticleCard {
  background-color: var(--brown-dark-active);

  padding: 1rem;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

.aboutArticleCard img {
  width: 100%;
  object-fit: cover;
}

.aboutTextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.aboutTextBox p {
  color: var(--silver-normal);
}

/* .structure — ESTRUTURA / GALERIA */
.structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.structure h2 {
  text-align: center;
}

.structure ul {
  display: flex;
  gap: 0.5rem;
}

.structure img {
  object-fit: cover;
}

.structure > div {
  display: flex;
}

/* .services — SERVIÇOS */
.services {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.services h2 {
  text-align: center;
}

.services > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.servicesArticleCard {
  background-color: var(--brown-dark-active);

  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.servicesArticleTextBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.servicesArticleCard img {
  width: 100%;
  object-fit: cover;
}

.servicesArticleTextBox p {
  color: var(--silver-normal);
}

.servicesCta {
  display: flex;
  justify-content: center;
}

/* .contactUs — FALE CONOSCO */
.contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contactUs > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.contactUs form input {
  font-size: 1.1rem;
  font-weight: 500;
}

.contactUs form textarea {
  font-size: 1.1rem;
  font-weight: 500;
  min-height: 10rem;
}

.contactUs button {
  margin-top: 1rem;
}

/* .localization — LOCALIZAÇÃO */
.localization {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.localizationText > * {
  text-align: center;
}

.localizationText address {
  color: var(--silver-normal);
}

.localization iframe {
  width: 100%;
  min-height: 300px;
  border: none;
}

.textInput,
.textAreaInput {
  background-color: white;
  width: 100%;
  min-height: 2rem;
  margin: 0;
  border-radius: 0.7rem;
  padding: 1rem;
  max-width: 35rem;
}

@media (min-width: 768px) {
  .main section {
    padding: 3rem 2rem;
  }

  .home {
    position: relative;
    width: 100%;
  }

  .bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: 0;
    display: flex;
  }

  .fadeBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      var(--brown-darker)
    );
    height: 75px;
    z-index: 2;
  }

  .home .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
  }

  .home a {
    z-index: 2;
  }

  .about {
    max-width: 70rem;
  }

  /* About: imagem e texto lado a lado */
  .aboutArticleCard {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .aboutTextBox {
    justify-content: space-between;
  }

  .services {
    max-width: 70rem;
  }

  /* Serviços: 3 cards lado a lado */
  .services > div {
    flex-direction: row;
  }

  .contactUs {
    width: 100%;
  }

  .contactUs > form {
    gap: 1rem;
  }

  /* .localization — LOCALIZAÇÃO */
  .localization {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 44rem;
  }

  .localization iframe {
    width: 100%;
    min-height: 300px;
    border: none;
  }
}
