/*
 * Gustavo Garabetti Munhoz — 10409258
 * João Pedro Rodrigues Vieira — 10403595
 * Joaquim Rafael Mariano Prieto Pereira — 10408805
 * Caio Yukio Yazawa — 10418604
 * Erick Guilherme de Macedo Cabral — 10419996
 */

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65vw;
  gap: 1rem;
}

.imageContainer {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.imageContainer img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .carousel {
    width: 90vw;
    height: 75vh;
    max-width: 70rem;
  }
}
