/*
 * Gustavo Garabetti Munhoz — 10409258
 * João Pedro Rodrigues Vieira — 10403595
 * Joaquim Rafael Mariano Prieto Pereira — 10408805
 * Caio Yukio Yazawa — 10418604
 * Erick Guilherme de Macedo Cabral — 10419996
 */

.carouselButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-normal);
  color: var(--blue-normal);
  border-radius: 100%;
  width: 15vw;
  aspect-ratio: 1 / 1;
  max-width: 3.75rem;
  cursor: pointer;
}

.materialSymbolsOutlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
